[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/rKiest
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rKiest
	label-Verified = -1..+1 group user/rKiest
	push = group user/rKiest
	read = group user/rKiest
	rebase = group user/rKiest
	removeReviewer = group user/rKiest
	submit = group user/rKiest
[access "refs/heads/*"]
	create = group user/rKiest
	push = +force group user/rKiest
	pushMerge = group user/rKiest
	read = group user/rKiest
[access "refs/tags/*"]
	push = group user/rKiest
	push = +force group user/rKiest
